name: aplicacion_app
description: "A new Flutter project."
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.8.1
 
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_local_notifications: ^19.3.0
  provider: ^6.0.5
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  confetti: ^0.8.0
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/sala1.jpeg
    - assets/sala2.jpeg
    - assets/sala3.jpeg
    - assets/sala4.jpeg
    
    
